$color_1: #171717;
$color_2: #fff;
$color_3: #ffffff;
$color_4: #000000;
$background-color_1: #4E8E9C;
$background-color_2: #242424;
$background-color_3: #262626;
$background-color_4: #a5abba;
$background-color_5: #333;

body {
  background-color: $background-color_1;
  color: $color_1;
  transition: background-color 0.2s ease, color 0.2s ease;
  .dark {
    //background-color: $background-color_2;
    transition: background-color 0.2s ease, color 0.2s ease;
    .flex {
      h1 {
        color: $color_2;
      }
    }
  }
}
.mode-toggle {
  position: absolute;
  padding: 0;
  width: 44px;
  height: 24px;
  right: 30px;
  top: 30px;
  min-width: 36px;
  min-height: 20px;
  background-color: $background-color_3;
  border: 0;
  border-radius: 24px;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  appearance: none;
  transition: background-color 0.5s ease;
  .toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    box-shadow: inset 0 0 0 2px #a5abba;
    overflow: hidden;
    transition: transform 0.5s ease;
    #dark-mode {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      &:before {
        content: '';
        position: relative;
        width: 100%;
        height: 100%;
        left: 50%;
        float: left;
        background-color: $background-color_4;
        transition: border-radius 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, transform 0.5s ease;
      }
    }
  }
}
.dark {
  .mode-toggle {
    background-color: $background-color_5;
    .toggle {
      transform: translateX(19px);
      #dark-mode {
        &:before {
          border-radius: 50%;
          width: 150%;
          height: 85%;
          left: 40%;
          transform: translate(-10%, -40%), rotate(-35deg);
        }
      }
    }
  }
  .__interface {
    background: hsla(203, 20%, 67%, 1);
    background: linear-gradient(90deg, hsla(203, 20%, 67%, 1) 21%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(203, 20%, 67%, 1) 21%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(203, 20%, 67%, 1) 21%, hsla(0, 0%, 100%, 1) 100%);

    .button--standard {
      background: #29A8FF !important;
      color: $color_3 !important;
      opacity: 0.4;
    }
    .button--lightGray {
      background: #29A8FF !important;
      color: $color_4 !important;
      opacity: 0.4;
    }
    .button--blue {
      background: #a7c8e6 !important;
    }

    & .active_btn{
      color: #ffffff;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,130,255,0.42)!important;
      box-shadow: 5px 5px 15px 5px rgba(0,130,255,0.42)!important;
    }
  }
}
